%h2= t('.title')
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  = field_set_tag( nil, id: 'unblock-form', class: 'fieldset' ) do
    = devise_error_messages!
    = f.label :email
    = f.email_field :email, autofocus: true
    .links
      = f.submit t('.resend')
    .links
      = render "devise/shared/links"
