// menukinds
$('#add-menu-kind').click(function(){
  var n=$('ul#menukinds li').length-1; // existe un li +
  var text_field='<input id="menu_menukinds_attributes_'+n+'_text" type="text" name="menu[menukinds_attributes]['+n+'][text]" class="input-text">';
  var price_field='<input id="menu_menukinds_attributes_'+n+'_price" type="text" name="menu[menukinds_attributes]['+n+'][price]" class="input-price">';
  var destroy_field='<input id="menu_menukinds_attributes_'+n+'__destroy" type="hidden" value="0" name="menu[menukinds_attributes]['+n+'][_destroy]">';
  var delete_btn='<button id="delete-menukind-'+n+'" class="delete-menukind" type="button"><%=I18n.t("common.delete")%></button>';

  $('<li id="menukind-'+n+'">'+text_field+' '+price_field+' '+destroy_field+' '+delete_btn+'</li>').appendTo('#menukinds');
  $('#delete-menukind-'+n).click(function(){delete_menukind($(this))});

  $('#menu_menukinds_attributes_'+n+'_text').focus();
});

var delete_menukind=function(btn) {
  var n=btn.attr('id').match(/[\d]+$/);

  $('#menukind-'+n+' input').toggleClass('borrado');
  $('#menukind-'+n+' span').toggleClass('borrado');

  if(btn.attr('class')=='delete-menukind') {
    // Borrar
    btn.attr('class','undelete-menukind');
    btn.html('<%=I18n.t('common.undelete')%>');
    $('#menu_menukinds_attributes_'+n+'__destroy').val(1);
  }else{
    // Recuperar
    btn.attr('class','delete-menukind');
    btn.html('<%=I18n.t('common.delete')%>');
    $('#menu_menukinds_attributes_'+n+'__destroy').val(0);
    $('#menu_menukind_attributes_'+n+'_text').focus();
  }
};

$('.delete-menukind').click(function(){
  delete_menukind($(this));
});


// courses
var delete_course=function(btn) {
  var n=btn.attr('id').match(/[\d]+$/);

  $('#course-'+n+' input').toggleClass('borrado');
  $('#course-'+n+' span').toggleClass('borrado');

  if(btn.attr('class')=='delete-course') {
    btn.attr('class','undelete-course');
    btn.html('<%=I18n.t('common.undelete')%>');
    $('#menu_courses_attributes_'+n+'__destroy').val(1);
  }else{
    btn.attr('class','delete-course');
    btn.html('<%=I18n.t('common.delete')%>');
    $('#menu_courses_attributes_'+n+'__destroy').val(0);
    $('#menu_courses_attributes_'+n+'_text').focus();
  }
};

$('.delete-course').click(function(){
  delete_course($(this));
});

$('#add-course').click(function(){
  var n=$('ul#courses li').length;
  var name_field='<span class="name">'+(n+1)+'ยบ</span><input id="menu_courses_attributes_'+n+'_name" type="hidden" value="'+(n+1)+'ยบ" name="menu[courses_attributes]['+n+'][name]">';
  var text_field='<input id="menu_courses_attributes_'+n+'_text" type="text" name="menu[courses_attributes]['+n+'][text]">';
  var destroy_field='<input id="menu_courses_attributes_'+n+'__destroy" type="hidden" value="0" name="menu[courses_attributes]['+n+'][_destroy]">';
  var delete_btn='<button id="delete-course-'+n+'" class="delete-course" type="button"><%=I18n.t("common.delete")%></button>';

  $('<li id="course-'+n+'">'+name_field+' '+text_field+' '+destroy_field+' '+delete_btn+'</li>').appendTo('#courses');
  $('#delete-course-'+n).click(function(){delete_course($(this))});

  $('#menu_courses_attributes_'+n+'_text').focus();
});
