<p><%= t('.wellcome')%> <%= @resource.email %>!</p>

<p><%= t('.text')%></p>

<p><%= link_to t('.change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.if_didnt_request_ignore_email')%></p>
<p><%= t('.password_wont_change')%></p>
